@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/////// BANNER
.banner{
    background: url('../img/team-photo.jpg');
    background-position:  center center ;
    background-repeat:no-repeat;
    background-size:cover;
    font-size: 1em;
    height: 960px;
    overflow: hidden;
    margin-bottom: 100px;
    
    .logo{
        height: 275px;
        width: 225px;
        margin: 50px 0 0 50px;
    }
}

.main{
    @extend .row;

    .left_bar{
        @extend .col-lg-3;
        @extend .col-md-1;
    }
    .content{
        @extend .col-lg-6;
        @extend .col-md-7;
        @extend .col-xs-12;
    }
    .right_bar{
        @extend .col-lg-3;
        @extend .col-md-4;
        @extend .col-xs-12;
    }
}

/////////////////MATCH FIELD////////////////
.matchcenter-field {
    background-image: url(../img/field-bg.png);
    width: 400px;
    height: 500px;
    position: relative;

    .player{        
    position: absolute;
    border: 1px solid #38870f;
    display: none;
    -moz-box-shadow: 1px 1px 2px #6a9627;
    -webkit-box-shadow: 1px 1px 2px #6a9627;
    box-shadow: 1px 1px 2px #6a9627;
    }

    .player-number {
        width: 14px;
        float: left;
        color: #5f9610;
        font-weight: bold;
        text-shadow: 1px 1px 0px #a8ce36;
        padding: 4px 4px;
        text-align: center;
        font-size: 12px;
        border-right: 1px solid #38870f;
        border-top: 1px solid #8dc639;
        background: -webkit-gradient(linear, center top, center bottom, from(#7db42e), to(#8cc539));

    .player-name {
        width: 65px;
        color: white;
        float: left;
        font-weight: bold;
        text-shadow: 1px 1px 0px #61871c;
        padding: 4px 6px;
        font-size: 12px;
        border-top: 1px solid #beda5a;
        background: -webkit-gradient(linear, center top, center bottom, from(#adcf35), to(#8ac439));
    }
}



$border: 1px solid black; 

table {
    width:650px;
    border: $border;

    >tbody > tr{
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            >th{
                    text-align: center;
                    border: $border;
                    background-color: #ff8200;
            }
            >td{
                vertical-align: top;
                border: $border;
                padding: 5px 10px;
            }
    }
}